header {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: calc($index * 2.5);
  color: #b12727;
  background-color: $color-bg;
  justify-content: end;
  border-bottom: 1px solid #5b8a7e;
  ul {
    display: flex;
    position: fixed;
    height: calc($index * 2.5);
    top: 0;
    z-index: 10;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: calc($index * 0.3);
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    li {
      display: flex;
      :first-of-type {
        margin-left: calc($index * 0.3);
      }
      button {
        display: block;
        color: #2e2e2e;
        background-color: $color-bg;
        border: 1px solid;
        border-radius: 5px;
        padding: calc($index * 0.3) $index;
        text-decoration: none;
        font-size: calc($index * 0.8);
        transition: all 0.2s cubic-bezier(0,0,0,1);
        &:hover {
          cursor: pointer;
          background-color: #69a38f;
          color: #000000;
          scale: 1.05;
        }
      }
    }
  }
}
